:root {
    font-size: 62.5%;
}

header {
    width: 100%;
    background: black;
    height: 10rem;
}

.logo-h1 {
    font-size: 3rem;
    color: #fb5;
    margin-left: 1.5rem;
    margin-top: 3.2rem;
    font-weight: bold;
}

.container-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-prime {
    width: 10%;
    height: 20%;
}

@media screen and (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    header {
        display: block;
    }
    .container-logo {
        display: flex;
        flex-direction: column;
    }
    .logo-h1 {
        font-size: 2rem;
    }
    .logo-prime {
        width: 10%;
        height: 20%;
    }
}